<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hudson Marinho<%= ' - ' + current_article.title unless current_article.nil? %></title>

    <meta name="description" content="Card Expansion Effect with SVG clipPath" />
    <meta name="keywords" content="clipPath, svg, effect, layout, expansion, images, grid, polygon" />
    <meta name="author" content="Claudio Calautti for Codrops" />

    <link rel="shortcut icon" href="favicon.ico">

    <%= stylesheet_link_tag "application" %>

    <!--[ifIE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script>
      if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
        var root = document.getElementsByTagName('html')[0];
        root.setAttribute('class', 'ff');
      };
    </script>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>

  <body class="demo-4">
    <div class="container">
      <%= partial "/shared/header" %>

      <div class="content">
        <div class="pattern pattern--hidden"></div>

        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag  "application" %>
  </body>
</html>
